<div class="container password-reset-complete-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="password-reset-complete-card">
        <h2 class="font-weight-bold mt-4 mb-3">Mot de passe réinitialisé</h2>
        <hr class="my-4" />
        <p class="mb-4">
          Votre mot de passe a bien été réinitialisé. Vous pouvez desormais vous
          connecter!
        </p>
        <a href="{% url 'login' %}?type={{ type_client }}"" class="btn btn-primary">Connexion</a>
      </div>
    </div>
  </div>
  <div class="text-center">
        <a class="btn btn-primary" href="{% url 'home' %}"
          >Retour à l'acceuil</a
        >
      </div>
</div>
<style>
    .btn-primary {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #7a6ad8;
    justify-content: center;
  }
  a {
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border-color: #7a6ad8;
    background-color: #e0dddd;
    color: #000000fb;
    justify-content: center;
  }
  .password-reset-complete-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 1.5rem;
  }

  .font-weight-bold {
    color: #333;
    font-size: 24px;
  }

  hr {
    border-color: #ccc;
  }

  .p-4 {
    padding: 2.5rem !important;
  }

  .mb-4 {
    margin-bottom: 1.5rem !important;
  }

  .btn-primary:hover {
    background-color: #7a6ad8;
    border-color: #7b6ad864;
  }
</style>
