{% load crispy_forms_tags %}

<!-- Reset Password -->
<div class="container reset-password-container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="reset-password-card">
        <h2 class="font-weight-bold mt-4 mb-3">
          Réinitialisation de mot de passe
        </h2>
        <hr class="my-4" />
        <p class="mb-4">
          Mot de passe oublié ? <br />Veuillez entrer votre email ci-dessous.
          Vous allez recevoir ensuite un mail contenant un lien de modification
        </p>

        <form method="POST">
          {% csrf_token %}

          <div class="form-control">{{ password_reset_form|crispy }}</div>
          <div class="form-group mt-4">
            <button class="btn btn-primary" type="submit">
              Envoyez l'email
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="text-center">
        <a class="btn btn-primary" id="retour" href="{% url 'home' %}"
          >Retour à l'acceuil</a
        >
      </div>
</div>

<style>
  body {
    background: #7a6ad8;
  }
  #retour{
   background-color: #7a6ad8;
    border-color: #7b6ad8da;
    border-radius: 10rem;
    padding: 0.5em;
    margin: 46%;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  #retour:hover{
    background-color: #0056b3;
  }
  .btn-primary {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
  .reset-password-card {
    background-color: #fffffffb;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.386);
    padding: 40px;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 3rem;
  }

  .font-weight-bold {
    color: #333;
    font-size: 24px;
  }

  hr {
    border-color: #ccc;
  }

  .p-5 {
    padding: 3rem !important;
  }

  .mb-4 {
    margin-bottom: 1.5rem !important;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  .btn-primary {
    background-color: #7a6ad8;
    border-color: #7b6ad8da;
    border-radius: 10rem;
    padding: 0.5em;
  }

  .btn-primary:hover {
    background-color: #ffff;
    border-color: #7b6ad8da;
  }
  .form-control {
    border-radius: 2rem;
    max-height: 3rem;
    margin-bottom: 1rem;
  }
</style>
